.login-box{
    z-index: 99;
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    margin: -160px 0 0 -250px;
    background: #fff;
    box-shadow: gray;
    border-radius: 4px;
    overflow: hidden;
}

.title{
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #2dc6f6;
    font-size: 18px;
    color: #fff;
}