h3{
    text-align: center;
    padding-top: 10px;
}

.form{
    width: 400px;
    margin: 0 auto;
}

form.form > div{
    padding: 8px;
}

.body-container{
    width: 600px;
    background: white;
    margin: 0 auto;
    border-radius: 5px;
}