{% extends 'base.html' %}
{% block body_part %}
<!-- 时间线显示警报信息 -->
<div class="layui-body" style="background-color: #f7fbff;">
  <div class="layui-tab-content">
    <ul class="layui-timeline">
      <!-- 这里的 events 传递路由中的数据 -->
      {% for event in events %}
      <li class="layui-timeline-item">
        <i class="layui-icon layui-icon-fire"></i>
        <div class="layui-timeline-content layui-text">
          <h3 class="layui-timeline-title">警报设备：{{ event.imei }}</h3>
          <p>
            上报时间：{{ event.createTime }}
            <br>上报内容：{{ event.eventContent }}
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
{% block your_script %}

{% endblock %}

