{% extends "base.html" %}

{% block title %}设备{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/dashboard.css' )}}" rel="stylesheet">
{% endblock %}

{% block body %}

{% include '_navbar.html' %}

{% include '_sidebar.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse" aria-expanded="true" aria-controls="collapse">
                                搜索
                            </a>
                        </div>
                        <div id="collapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading">
                            <div class="panel-body">
                                <form class="form-horizontal" method="POST">
                                    {{ form.csrf_token }}
                                    <div class="col-sm-6">
                                        <p>{{ form.imei.label }}{{ form.imei }}</p>
                                        <p>
                                            <label for="state">设备状态</label>
                                            <input id="state" name="state" required type="radio" value="all" checked>全部
                                            <input id="state" name="state" required type="radio" value="online">在线
                                            <input id="state" name="state" required type="radio" value="offline">离线
                                            <input id="state" name="state" required type="radio" value="fault">故障
                                        </p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p>{{ form.company.label }}{{ form.company }}</p>
                                    </div>
                                    <div class="col-sm-12">
                                        <button class="btn btn-sm btn-primary" type="submit">搜索</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>设备数据</span>
                        <span>{{ message }}</span>
                        <a class="btn btn-xs btn-default" onclick="{location.reload();}" style="float: right;">
                            <span class="glyphicon glyphicon-refresh" aria-hidden="true">刷新</span>
                        </a>
                        <a class="btn btn-xs btn-primary" href="{{ url_for('main.add_device') }}" style="float: right;">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true">新增</span>
                        </a>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>imei号</th>
                                    <th>所属产品</th>
                                    <th>创建时间</th>
                                    <th>所属公司</th>
                                    <th>安装位置</th>
                                    <th>设备状态</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for device in devices.items %}
                                <tr>
                                    <td>{{ device.imei }}</td>
                                    <td>{{ device.productName }}</td>
                                    <td>{{ device.createTime }}</td>
                                    <td>{{ device.company }}</td>
                                    <td>{{ device.location }}</td>
                                    <td>
                                        {% if device.state == 'offline' %}
                                        <span class="label label-default">离线</span>
                                        {% elif device.state == 'online' %}
                                        <span class="label label-success">在线</span>
                                            {% if device.batteryValue > 80 %}
                                            <span class="label label-success">{{ device.batteryValue }}</span>
                                            {% elif device.batteryValue < 60 %}
                                            <span class="label label-danger" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="电量不足">{{ device.batteryValue }}</span>
                                            {% else %}
                                            <span class="label label-warning">{{ device.batteryValue }}</span>
                                            {% endif %}
                                        {% else %}
                                        <span class="label label-danger">故障</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% else %}
                                <tr><td colspan="9" style="text-align: left">没有记录</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% import '_pagination.html' as pagination %}
                        {{ pagination.render_pagination(devices) }}
                        
                        {% import "_msg.html" as messages %}
                        {{ messages.render_msg() }}
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script>
	$(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>
{% endblock %}
