{% extends 'base.html' %}
{% block body_part %}
<div class="layui-side layui-bg-black">
  <!-- 左侧导航 -->
  <div class="layui-side-scroll">
    <ul class="layui-nav layui-nav-tree"  lay-filter="test">
      <li class="layui-nav-item"><a href="{{ url_for('home') }}">主页</a></li>
      <li class="layui-nav-item"><a href="{{ url_for('product') }}">产品分类</a></li>
      <li class="layui-nav-item"><a href="{{ url_for('device') }}">设备列表</a></li>
      <li class="layui-nav-item"><a href="{{ url_for('alarm') }}">警报信息</a></li>
    </ul>
  </div>
</div>
<!-- 时间线显示警报信息 -->
<div class="layui-body">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px">
      <legend>警报信息</legend>
    </fieldset>
    <ul class="layui-timeline">
      <li class="layui-timeline-item">
        <div class="layui-timeline-content layui-text">
          <h3 class="layui-timeline-title">6月11日</h3>
          <p>设备型号：
            <br>报警代码：
          </p>
        </div>
      </li>
      <li class="layui-timeline-item">
        <div class="layui-timeline-content layui-text">
          <h3 class="layui-timeline-title">6月7日</h3>
          <p>设备型号：
            <br>报警代码：
          </p>
        </div>
      </li>
    </ul>
</div>
{% endblock %}