{% extends 'base.html' %}
{% block body_part %}
<!-- 表格显示 -->
<!-- 含有数据操作 -->
<div class="layui-body">
  <div class="layui-card" style="padding-top: 10px;">
    <div class="layui-card-header">
      <div class="layui-row">
        <div class="layui-col-md1">
          <button class="layui-btn layui-btn-sm"><a href="#" onclick="javascript:history.back(-1);"><i class="layui-icon layui-icon-left" style="color: white;"></i></a></button>
        </div>
        <div class="layui-col-md10">
          <form class="" action="" method="GET">
            <div class="layui-input-inline">
              <input type="text" name="search_name" class="layui-input" placeholder="搜索设备名称">
            </div>
          </form>
        </div>
        <div class="layui-btn-group layui-col-md1">
          <button class="layui-btn layui-btn-sm layui-btn-normal"><a href="{{ url_for('new_device') }}"><i class="layui-icon layui-icon-add-1" style="color: white;"></i></a></button>
          <button class="layui-btn layui-btn-sm layui-btn-normal"><a href="#" onclick="javascript:location.reload();"><i class="layui-icon layui-icon-refresh-3" style="color: white;"></i></a></button>
        </div>
      </div>
    </div>
    <div class="layui-card-body">
      <table class="layui-table" lay-skin="row">
        <thead>
          <th>deviceName</th>
          <th>productId</th>
          <th>imei</th>
          <th>createTime</th>
          <th>operation</th>
        </thead>
        <tbody>
          {% for device in devices %}
          <tr>
            <td>{{ device.deviceName }}</td>
            <td>{{ device.productId }}</td>
            <td>{{ device.imei }}</td>
            <td>{{ device.createTime }}</td>
            <td><button class="layui-btn layui-btn-xs layui-btn-danger"><a href="{{ url_for('delete_device', imei=device.imei) }}" style="color: white;">删除</a></button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
