{% extends 'base.html' %}
{% block body_part %}
<div class="layui-body">
    <div class="layui-fluid" style="padding: 15px;">
        <form class="layui-form layui-form-pane" method="POST" style="padding: 15px;">
            <div class="layui-form-item">
              <label class="layui-form-label">设备名称</label>
              <div class="layui-input-block">
                <input type="text" name="name" required  lay-verify="required" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">imei号</label>
                <div class="layui-input-block">
                  <input type="text" name="imei" required  lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">创建者</label>
                <div class="layui-input-block">
                  <input type="text" name="operator" autocomplete="off" placeholder="选填" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否订阅</label>
                <div class="layui-input-block">
                  <input type="radio" name="autosub" value="0" title="是" checked="">
                  <input type="radio" name="autosub" value="1" title="否">
                </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit>创建</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              </div>
            </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}
