{% extends 'base.html' %}
{% block body_part %}
<!-- 表格显示 -->
<!-- 含有数据操作 -->
<div class="layui-body">
  <div class="layui-card" style="padding-top: 10px;">
    <div class="layui-card-header">
      <div>
        
      </div>
      <div class="layui-btn-group">
        <a type="button" class="layui-btn layui-btn-normal">添加</a>
      </div>
    </div>
    <div class="layui-card-body">
      <table class="layui-table" lay-skin="row">
        <thead>
          <th>productId</th>
          <th>productName</th>
          <th>createTime</th>
          <th>deviceCount</th>
          <th>thirdTypeValue</th>
      </thead>
      <tbody>
          {% for product in products %}
          <tr>
              <td><a href="{{ url_for('device', productId=product.productId) }}">{{ product.productId }}</a></td>
              <td>{{ product.productName }}</td>
              <td>{{ product.createTime }}</td>
              <td>{{ product.deviceCount }}</td>
              <td>{{ product.thirdTypeValue }}</td>
          </tr>
          {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
</div>  
{% endblock %}

