{% extends 'base.html' %}
{% block body_part %}
<!-- 表格显示 -->
<!-- 含有数据操作 -->
<div class="layui-body">
  <div class="layui-card" style="padding-top: 10px;">
    <div class="layui-card-header">
      <div class="layui-row">
        <div class="layui-col-md1">
          <button class="layui-btn layui-btn-sm"><a href="{{ url_for('home') }}"><i class="layui-icon layui-icon-home" style="color: white;"></i></a></button>
        </div>
        <div class="layui-col-md10">
          <!-- 搜索栏 -->
          <form class="" action="" method="GET">
            <div class="layui-input-inline">
              <input type="text" name="search_name" class="layui-input" placeholder="搜索产品名称">
            </div>
          </form>
        </div>
        <div class="layui-btn-group layui-col-md1">
          <button class="layui-btn layui-btn-sm layui-btn-normal"><i class="layui-icon layui-icon-add-1"></i></button>
          <button class="layui-btn layui-btn-sm layui-btn-normal"><i class="layui-icon layui-icon-refresh-3"></i></button>
        </div>
      </div>
    </div>
    <div class="layui-card-body">
      <table class="layui-table" lay-skin="row">
        <thead>
          <th>productId</th>
          <th>productName</th>
          <th>createTime</th>
          <th>deviceCount</th>
          <th>thirdTypeValue</th>
      </thead>
      <tbody>
          {% for product in products %}
          <tr>
              <!-- 同样可以通过 Jinja2 模版向后端传递数据 -->
              <td><a href="{{ url_for('device', productId=product.productId) }}">{{ product.productId }}</a></td>
              <td>{{ product.productName }}</td>
              <td>{{ product.createTime }}</td>
              <td>{{ product.deviceCount }}</td>
              <td>{{ product.thirdTypeValue }}</td>
          </tr>
          {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
</div>  
{% endblock %}

