{% extends 'base.html' %}
{% block page_name %}
后台管理系统
{% endblock %}
{% block body_part %}
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('product') }}">产品列表<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('device') }}">设备列表</a>
                </li>
              </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h5>产品中心</h5>
            <form class="form-inline mr-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search">
              <button class="btn btn-outline-secondary btn-sm" type="submit">搜索</button>
            </form>
            <div>
              <button type="button" class="btn btn-sm btn-outline-info">添加</button>
            </div>
          </div>
          <!-- 表格 -->
          <div class="page-header">
            <table class="table">
              <thead>
                <tr>
                  <th>产品名</th>
                  <th>产品id</th>
                  <th>产品类别</th>
                  <th>创建时间</th>
                  <th>设备数量</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                {% for product in products %}
                <tr>
                  <td>{{ product.productName}}</td>
                  <td>{{ product.productId }}</td>
                  <td>{{ product.thirdTypeValue }}</td>
                  <td>{{ product.createTime }}</td>
                  <td>{{ product.deviceCount}}</td>
                  <td><div>
                    <button type="button" class="btn btn-primary btn-sm">查看</button>
                    <button type="button" class="btn btn-danger btn-sm">删除</button>
                  </div></td>
                </tr> 
                {% endfor %}
              </tbody>
            </table>
          </div>
        </main>
    </div>
</div>
{% endblock %}
{% block script_part %}
{% endblock %}