{% extends 'base_noside.html' %}
{% block body_part %}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">基本信息</div>
            <div class="layui-card-body">
                <div>
                    <span>用户名</span>
                    <span>admin</span>
                </div>
                <div>
                    <span>账号等级</span>
                    <span>超级管理员</span>
                </div>
                <div>
                    <span>AppKey</span>
                    <span>*****</span>
                </div>
                <div>
                    <span>AppSecret</span>
                    <span>*****</span>
                </div>
                <div>
                    <span>MasterKey</span>
                    <span>*******</span>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}