{% extends 'base.html' %}
{% block static_files %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}"/>
{% endblock %}
{% block page_name %}
验证账号
{% endblock %}
{% block body_part %}
<div class="body-container"></div>
    <h3>登录</h3>
    <form class="form" action="" method="POST">
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">用户</span>
            <input type="text" class="form-control" placeholder="请输入用户名" aria-describedby="sizing-addon1" name="appKey">
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">密码</span>
            <input type="password" class="form-control" placeholder="请输入密码" aria-describedby="sizing-addon1" name="appSecret">
        </div>
        <div class="login_button">
            <button type="submit" class="btn btn-primary btn-lg btn-block">登录</button>
        </div>
    </form>
</div>
{% endblock %}