{% extends 'base.html' %}
{% block page_name %}
后台管理系统
{% endblock %}
{% block body_part %}
<!--左侧边栏-->
<div class="row-fluie">
    <div class="col-sm-3 col-md-2 sidebar">     
        <ul class="nav nav-sidebar">
            <!--一级菜单-->
            <li class="device"><a href="#deviceMeun" class="nav-header menu-first collapsed" data-toggle="collapse">产品管理<span class="sr-only">(current)</span></a></li>
            <!--二级菜单-->
            <ul id="deviceMeun" class="nav nav-list collapse menu-second">
                <li><a href="#" onclick="showAtRight('/device/list')">设备列表</a></li>
                <li><a href="#" onclick="showAtRight('/device/add')">添加设备</a></li>
            </ul>
        </ul>
    </div>
</div>

{% endblock %}
