{% extends 'base.html' %}
{% block body_part %}
<!-- 主体内容 -->
<div class="layui-body">
  <div class="layui-fluid" style="padding: 20px;">
    <div id="layerDemo">
      <blockquote class="layui-elem-quote">
        操作
      </blockquote>
      <a href="{{ url_for('update') }}" data-method="offset" data-type="auto" class="layui-btn layui-btn-normal">更新</a>
    </div>
    <blockquote class="layui-elem-quote" style="margin-top: 30px;">
      总数
    </blockquote>
    <div class="layui-row layui-col-space15">
      <div class="layui-col-sm6 layui-col-md6">
        <div class="layui-card">
          <div class="layui-card-header">产品数量</div>
          <div class="layui-card-body">
            <a href="{{ url_for('product') }}"><p style="font-size: 30px;">{{ productCount }}</p></a>
          </div>
        </div>
      </div>
      <div class="layui-col-sm6 layui-col-md6">
        <div class="layui-card">
          <div class="layui-card-header">设备总数</div>
          <div class="layui-card-body">
            <p style="font-size: 30px;">{{ deviceCount }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
