{% extends "base.html" %}

{% block title %}消息公告{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/dashboard.css' )}}" rel="stylesheet">
{% endblock %}

{% block body %}

{% include '_navbar2.html' %}

{% include '_sidebar2.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>消息公告</span>
                        <a href="{{ url_for('super_admin.edit_bulletin') }}">
                            <button class="btn btn-xs btn-primary">发布</button>
                        </a>
                    </div>
                    <div class="panel-body">
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}