{% extends "base.html" %}

{% block title %}超级用户{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/dashboard.css' )}}" rel="stylesheet">
{% endblock %}

{% block body %}

{% include '_navbar2.html' %}

{% include '_sidebar2.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>子用户信息</span>
                </div>
                <div class="panel-body">
                    {% if not users %}
                        <div class="container-fluid" style="margin-top: -20px;">
                            <h4>暂未添加子用户</h4>
                        </div>
                    {% else %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>操作</th>
                                    <th>用户名</th>
                                    <th>所属公司</th>
                                    <th>联系方式</th>
                                    <th>公司地址</th>
                                    <th>是否实名</th>
                                </tr>
                            </thead>
                            {% for user in users %}
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="#" class="btn btn-xs btn-danger">
                                            <span class="glyphicon glyphicon-erase" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="重置密码"></span>
                                        </a>
                                    </td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.company }}</td>
                                    <td>{{ user.cellphone }}</td>
                                    <td>{{ user.address }}</td>
                                    <td>
                                        {% if user.realname %}
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        {% else %}
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
	$(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>
{% endblock %}