{% extends "base.html" %}

{% block title %}超级用户{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/dashboard.css' )}}" rel="stylesheet">
{% endblock %}

{% block body %}

{% include '_navbar2.html' %}

{% include '_sidebar2.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>子用户信息</span>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>用户名</th>
                                <th>所属公司</th>
                                <th>联系方式</th>
                                <th>公司地址</th>
                                <th>是否实名</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users.items %}
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.company }}</td>
                                <td>{{ user.cellphone }}</td>
                                <td>{{ user.address }}</td>
                                <td>
                                    {% if user.wechatname %}
                                        <span>{{ user.wechatname }}</span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% else %}
                            <tr><td colspan="6" style="text-align: left">没有记录</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% import '_pagination.html' as pagination %}
                    {{ pagination.render_pagination(users) }}

                    {% import "_msg.html" as messages %}
                    {{ messages.render_msg() }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
	$(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>
{% endblock %}