{% extends 'base.html' %}

{% block title %}基本资料{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/dashboard.css' )}}" rel="stylesheet">
{% endblock %}

{% block body %}

{% include '_navbar2.html' %}

{% include '_sidebar2.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    填写超级管理员信息
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" method="POST" id="add_user">
                        {{ form.csrf_token }}
                        
                        {{ form.appkey.label }}
                        <p>{{ form.appkey }}</p>
                        {% for msg in form.appkey.errors %}
                        <p>{{ msg }}</p>
                        {% endfor %}

                        {{ form.appsecret.label }}
                        <p>{{ form.appsecret }}</p>
                        {% for msg in form.appsecret.errors %}
                        <p>{{ msg }}</p>
                        {% endfor %}

                        <button class="btn btn-primary col-sm-1" type="submit" name="add_user" onclick="{if(confirm('确定修改吗?')){this.document.formname.submit();return true;}return false;}">确认修改</button>
                    </form>
                    {% import "_msg.html" as messages %}
                    {{ messages.render_msg() }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}