<div class="col-md-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><a href="{{ url_for('super_admin.index') }}">用户组</a></li>
    <li><a href="{{ url_for('super_admin.product_management') }}">产品管理</a></li>
    <li><a href="{{ url_for('super_admin.super_bulletin') }}">消息公告</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="{{ url_for('super_admin.history') }}">操作记录</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="{{ url_for('super_admin.super_user') }}">管理员信息</a></li>
  </ul>
</div>